<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Kalkulator Insuliny</span>

        <span class="app-spacer"></span>

        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Application Menu"
        >
            <mat-icon>menu</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="['blocks']">
                <mat-icon>alarm</mat-icon>
                <span>Bloki Czasowe</span>
            </button>

            <button mat-menu-item [routerLink]="['calculator']">
                <mat-icon>calculate</mat-icon>
                <span>Kalkulator</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>

<div>
    <router-outlet></router-outlet>
</div>
